
html, body {
    color: white;
    background-color: #21232a;
    font-family: "Helvetica Neue", Arial, "Helvetica N", sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #21232a;
    border-radius: 12px;
}